<!DOCTYPE html>
<html>
<head>
<title>Welcome to MyAPP on nginx!</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>Welcome to MYapp!</h1>

<p>Grafana -
<a href="http://{{ public_ip }}/mon">Grafana</a>.<br/>
<p>PGadmin -
<a href="http://{{ public_ip }}/pgadmin">PGadmin</a>.</p>
<p>Nexus -
<a href="http://{{ public_ip }}/nexus">Nexus</a>.</p>
<p>Prometheus - 
<a href="http://{{ public_ip }}:9090/">Prometheus</a>.</p>
<p>app (/app/CalKulate?a=25&b=5&action=mult) -
<a href="http://{{ public_ip }}/app/CalKulate?a=25&b=5&action=mult">app</a>.</p>

<p><em>Thank you for using nginx.</em></p>
</body>
</html>
