map $http_upgrade $connection_upgrade {
  default upgrade;
  '' close;
}

upstream grafana {
  server {{ public_ip }}:3000;
}

upstream nexus {
  server {{ public_ip }}:8081;
}

upstream pgadmin {
  server {{ public_ip }}:8080;
}

upstream  app {
  server {{ public_ip }}:8082;
}

server  {

  listen 80;
  server_name {{ public_ip }};
  access_log   /var/log/nginx.my  main;
  root /usr/share/nginx/html;
  index index.html index.htm index.nginx-debian.html;


  location /prom {
    rewrite ^/prom http://{{ public_ip }}:9090/ redirect;
  }

  location /app/ {
    rewrite  ^/app/(.*)  /$1 break;
    proxy_set_header Host $http_host; 
    proxy_pass http://app;
  }

  location /pgadmin/ {
    proxy_set_header X-Script-Name /pgadmin;
    proxy_set_header Host $host;
    proxy_pass http://pgadmin;
    proxy_redirect off;
  }

  location /nexus/ {
    rewrite  ^/nexus/(.*)  /$1 break;
    proxy_set_header Host $http_host; 
    proxy_pass http://nexus;
  }

  location /mon/ {
    rewrite  ^/mon/(.*)  /$1 break;
    proxy_set_header Host $http_host; 
    proxy_pass http://grafana;
  }

  location /mon/api/live/ {
    rewrite  ^/mon/(.*)  /$1 break;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $connection_upgrade;
    proxy_set_header Host $http_host;
    proxy_pass http://grafana;
  }
}
